<div id="hero-area" class="hero-area-bg bg-white" style="margin-top:2rem;">
  <div class="container mt-4 pb-4">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="contents mt-4 pt-4 ">
          <h2 class="head-title">Ooooops</h2>
          <p> Il semblerait que vous ne puissiez pas accéder à cette page...</p>
          <div class="header-button">
            <a href="<%=root_path%>" rel="nofollow" class="btn btn-common">Accueil</i></a>
            <a href="<%=root_path(anchor:"contact")%>" rel="nofollow" class="btn btn-border video-popup">Me contacter</i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <div class="intro-img mb-4">
          <%=image_tag 'img-1.png', class:"img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>
